.lib__my-button {
    display: inline-flex;
    flex-shrink: 0;
    cursor: pointer;
    user-select: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-color: #6C9A8B;
    text-align: center;
    border-radius: .5rem;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
    line-height: 1em;
    min-height: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    border-width: 1px;
    text-decoration-line: none;
    background-color: #6C9A8B;
    color: #fff;
}